@import "./scss/nav.scss";
@import "./scss/header.scss";

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

}

body {
    font-family: Roboto;
}

.weak,
.medium,
.strong {
    display: inline-block;
    width: 40px;
    height: 10px;
}

.weak {
    background-color: red;
}

.medium {
    background-color: yellow;
}

.strong {
    background-color: green;
}