h1 {
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top: 10vh;
}

.caption1 {
    bottom: 5%;
}

.caption2 {
    top: 0%;
    right: -30%;
}

.caption3 {
    left: -30%;
    bottom: 10%;
}

.d-block {
    object-fit: cover;
    height: 100vh;
    color: white;
}