h1 {
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top: 10vh;
}

.caption1 {
    bottom: 5%;
    color: white;
}

.caption2 {
    top: 0%;
    right: -30%;
    color: #343a40;
}

.caption3 {
    left: -30%;
    bottom: 10%;
    color: white;
}

.carousel-item {
    height: 80vh;
    object-fit: fill;
}