@media (max-width: 950px) {
    .carousel-inner {
        .caption1 {
            bottom: 25%;
            right: -30%;
        }

        .caption3 {
            bottom: 20%;
        }

        img {
            width: 70vw;
        }
    }
}