.fragment-article {
    color: white;
    background-color: #2b2b2b;
}

.navbar-brand {
    margin: 10px;
    padding: 10px;
}

.nav-button {
    color: white;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    display: inline-block;
}