.fragment-article {
    color: white;
    background-color: #2b2b2b;
}

.top-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar-brand {
    margin: 10px;
    padding: 10px;
    padding-left: 60px;
    background-image: url("img/cv.svg");
    background-size: 50px;
    background-repeat: no-repeat;
}

.top-nav-container {
    margin-left: auto;
}

.nav-button {
    color: white;
    margin: 5px;
    padding: 5px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}